.color1 {
    color: #cfd97f; /* deco */
}
.color2 {
    color: #76834a; /* finch */
}
.color3 {
    color: #fcfcfc; /* twilight blue */
}
.color4 {
    color: #f2f58d; /* tidal */
}
.color5 {
    color: #bfc188; /* pine glade */
}
.color6 {
    color: #bdc5d8; /* spindle */
}
.color7 {
    color: #726554; /* pine cone */
}
.color8 {
    color: #624e3a; /* panda */
}
.color9 {
    color: #8c8674; /* schooner */
}
.color10 {
    color: #807d3f; /* wasabi */
}
.color11 {
    color: #4d1e06; /* rustic red */
}
.color12 {
    color: #695434; /* horses neck */
}
.color13 {
    color: #484623; /* madras */
}
.color14 {
    color: #2a2e13; /* pine tree */
}
.color15 {
    color: #564019; /* saddle brown */
}
